.list_of_cards {
  display: flex;
  flex-grow: 3;
  background-color: lightgrey;
}

.card {
  margin: 1%;
  border-style: solid;
  border-color: #92a8d1;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.images {
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 260px;
}

.sub_image {
  margin: 0.2%;
  max-width: 80px;
  max-height: 80px;
}

.button {
  max-width: 260px;
}

/* flex-grow: 4; */
